:root{
  --header-h: 72px;
  --sidebar-w: 280px;
  --brand-blue: #0e2098;
  --sidebar-blue-1:#0f3ea7;
  --sidebar-blue-2:#0b2f83;
}

html,body,#root{height:100%}
body{margin:0; font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial;}

.app-shell{
  display:block;
  padding-top: var(--header-h);
  padding-left: var(--sidebar-w);
  min-height:100%;
  background:#fff;
}
